@using System.Collections.Generic
@using BaseBall.Modelos
@model BaseBall.Modelos.Equipo
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

@using (Html.BeginForm(new { year = Model.YearId, equipo = Model.teamID }))
{
    <div class="col-lg-5">
        <ul id="in" class="list-group">
            @{ 
                List<Player> lista = ViewBag.JugadoresEquipo;
                foreach(var jugador in lista)
                {
                    <li>@Html.CheckBox("Out."+jugador.PlayerId, false) @jugador.NameGiven</li>
                }
            }


        </ul>
    </div>

    <div class="col-lg-2">
        <input type="submit" class="btn" value="Despedir -->" />
        <input type="submit" class="btn" value="<-- Contratar" />
    </div>

    <div class="col-lg-5">
        <ul id="out" class="list-group">
            @{
                List<Player> lista2 = ViewBag.JugadoresLibres;
                foreach (var jugador in lista2)
                {
                    <li>@Html.CheckBox("In." + jugador.PlayerId, false) @jugador.NameGiven</li>
                }
            }
        </ul>
    </div>
}

